<div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <div class="header">
          <h3>User Registration Form</h3>
        </div>
        <form #myForms="ngForm">
          <div class="form-group">
            <label for="exampleInputPassword1">User Name</label>
            <input type="text" class="form-control" name="name" 
            ngModel>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" 
            ngModel>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contact#</label>
            <input type="number" class="form-control"name="contact" 
            ngModel>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" 
            ngModel>
          </div>
          <button type="submit" class="btn btn-primary" (click)="addUser(myForms.value)" routerLink="/users" >Submit</button>
        </form>
      </div>
    </div>
  </div>