<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h1 class="text-center">Users List</h1>
            </div>
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">FullName</th>
                    <th scope="col">EmailAdress</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let users of allUsers">
                    <th scope="row">{{users.name}}</th>
                    <th scope="row">{{users.email}}</th>
                    <th scope="row">{{users.contact}}</th>
                    <th scope="row">{{users.password}}</th>
                  </tr>
                </tbody>
              </table> 
        </div>
    </div>
</div>